{% extends 'base.html' %}
{% load static %}

{% block title %}
Blog
{% endblock  %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}">
<link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock  %}


{% block content %}

<section id='welcome'>
    <header>
        <img src="{% static 'blog/images/max.png' %}" alt="The author of this blog">
        <h2>Wes's blog</h2>
        <p>Hello to my blog</p>
    </header>
</section>

<section id='latest-posts'>
    <h2>My latest posts</h2>

    <ul>
        {% for post in posts %}
            {% include 'blog/includes/post.html' %}
        {% endfor %}
    </ul>
</section>

<section id='about'>
    <h2>What I do</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita culpa sequi quibusdam laborum obcaecati nam ipsam quaerat minima, rerum vel doloremque deserunt velit omnis non optio enim nihil distinctio voluptate!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam est iste, explicabo nemo repudiandae unde cum quaerat esse ipsum nisi facere architecto dignissimos tempore laborum. Saepe possimus qui distinctio quas.</p>
</section>

{% endblock  %}